ExeTest/Service References/wsMirth/Mirth.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.connectors.connect.mirth.com/" targetNamespace="http://ws.connectors.connect.mirth.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="acceptMessage" type="tns:acceptMessage" />
  <xs:element name="acceptMessageResponse" type="tns:acceptMessageResponse" />
  <xs:complexType name="acceptMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acceptMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>